h1 {
    text-align: center;
    background-color: gray;
    margin: -10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h2 {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

#firstName, #lastName, #idNumber, #jobTitle, #annualSalary{
    border: 1px solid;
}

.employeeHeader{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#employeeTable {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }

  #employeeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(187, 183, 183)
  }

  #employeeTable tr:nth-child(even){background-color: #e9e9e9;}
  
  #employeeTable tr:hover {background-color: rgb(208, 202, 202);}

  #employeeTable th, td{
    border: 1px solid; 
  }
  
.totalMonthly {
    text-align: right;
    font-size: 24px;
}

